.project-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: clamp(15rem, 20vw, 25rem);
  transition: 0.3s ease;
}

.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: auto;
  transition: 0.3s ease;
  overflow: hidden;
}

.project-card-text h6 {
  font-size: 0.8rem;
  color: var(--shade-2);
  font-weight: 300;
}

.project-card-content {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: end;
  align-items: start;
  height: 100%;
  flex-direction: column;
  gap: 0.5rem;
  backdrop-filter: blur(4px);
  border-radius: 0.8rem;
}

.project-card-text {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.5rem 0.8rem;
}

.project-card-text-title {
  font-weight: 800;
}

.project-card-text-description {
  font-weight: 300;
  font-size: 1rem;
  color: var(--shade-1);
}

.project-extra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  background-color: rgba(25, 25, 25, 0.825);
  z-index: 1;
  transition: 0.2s ease;
}

.project-links {
  gap: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0.3rem;
}

.project-link {
  width: auto;
  background: none;
  border: none;
  margin: 0;
  padding: 0.4rem 0.6rem 0.1rem 0.6rem;
  color: white;
  opacity: 0.8;
  transform: perspective(1000px) translateZ(0px);
  transition: 0.1s ease;
}

.project-link:hover {
  border: none;
  transform: perspective(1000px) translateZ(75px);
  opacity: 1;
}

.project-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;
  padding: 0 1rem;
  transition: 0.1s ease;
}

.project-tag {
  padding: 0.1rem 0.6rem;
  border: 1px solid;
  border-radius: 0.8rem;
  background: none;
  color: var(--shade-2);
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 0.7rem;
  opacity: 0.8;
  transform: perspective(1000px) translateZ(0px);
}

.project-tag:hover {
  opacity: 1;
  transform: perspective(1000px) translateZ(75px);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .project-extra {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .project-links {
    padding: 0.2rem 0.5rem;
  }

  .project-tags {
    padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .project-card-container {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .project-card-container {
    height: 15rem;
  }
}
