.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.projects-title {
  display: flex;
  align-items: center;
  width: 15rem;
}

.projects-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 80%;
  flex-wrap: wrap;
  margin: 2rem auto;
  max-width: 1536px;
}

.projects p {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .projects-title {
    width: 100%;
    justify-content: center;
  }
  .type-animation {
    display: none;
  }
  .projects-container {
    width: 95%;
  }
}
