.square-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: border 0.3s ease;
  height: 2.2rem;
  transition: all 0.15s;
  font-weight: 500;
  opacity: 0.8;
  padding: 0.1rem;
  background: linear-gradient(
    45deg,
    rgba(255, 217, 24, 0.4) 0%,
    rgba(238, 91, 37, 0.4) 25%,
    rgba(239, 46, 46, 0.4) 50%,
    rgba(255, 37, 193, 0.4) 75%,
    rgba(178, 35, 255, 0.4) 100%
  );
  transform: perspective(1000px) translateZ(0px);
}

.square-button:hover {
  opacity: 1;
  transform: perspective(1000px) translateZ(50px);
  background: linear-gradient(
    45deg,
    rgba(255, 217, 24, 0.7) 0%,
    rgba(238, 91, 37, 0.7) 25%,
    rgba(239, 46, 46, 0.7) 50%,
    rgba(255, 37, 193, 0.7) 75%,
    rgba(178, 35, 255, 0.7) 100%
  );
}

.square-button-content {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--shade-8);
  color: var(--shade-2);
  padding: 0 0.8rem;
}

@media screen and (max-width: 510px) {
  .square-button {
    font-size: 0.8rem;
  }
}
