.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #121212;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23171717' stroke-width='10' stroke-opacity='0.6'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  overflow: hidden;
}

.hero-content {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0;
  line-height: 1.1;
  color: var(--shade-1);
  cursor: default;
  z-index: 1;
  max-width: 1536px;
}

.hero-content span {
  font-size: clamp(2.3rem, 6vw, 8rem);
}

.hero-content h1 {
  font-size: clamp(2.3rem, 6vw, 8rem);
}

.hero-content h2 {
  font-size: clamp(1.3rem, 2vw, 3rem);
  margin-top: 0.5rem;
  font-weight: 700;
  display: inline-block;
  transition: all ease 0.2s;
  background: var(--theme-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name > span {
  display: inline-block;
  transition: all ease 0.2s;
  transition: all ease 0.2s;
  background: var(--text-theme-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: visible;
}

.name {
  display: inline-block;
}

@media (hover: hover) {
  .name > span:hover {
    animation: name-bounce 1s infinite;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes name-bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  65% {
    transform: scale(1, 1) translateY(-7px);
  }
  80% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.wave {
  display: inline-block;
  transform-origin: 70% 70%;
  animation: 2s wave;
  animation-iteration-count: 1;
  animation-delay: 0.2s;
  width: clamp(1rem, 8vw, 6rem);
  height: clamp(1rem, 8vw, 6rem);
}

.wave img {
  width: clamp(1rem, 8vw, 6rem);
  height: clamp(1rem, 8vw, 6rem);
}

.wave:hover {
  animation: wave-hover 2s linear 0s infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wave-hover {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero-img {
  position: absolute;
  right: -25rem;
  top: 5rem;
  z-index: 0;
  width: 55rem;
  height: 55rem;
  opacity: 0.4;
}

.hero-img img {
  width: 100%;
  height: 100%;
  animation: spin 20s linear infinite;
}

.hero-img2 {
  position: absolute;
  right: 30rem;
  top: 22rem;
  z-index: 0;
  width: 30rem;
  height: 30rem;
  opacity: 0.4;
}

.hero-img2 img {
  width: 100%;
  height: 100%;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scroll-down {
  position: absolute;
  display: flex;
  width: 15px;
  flex-direction: column;
  bottom: 5%;
  left: 0.5rem;
  z-index: 5;
  opacity: 0.8;
  gap: 0.2rem;
}

.scroll-down :nth-child(1) {
  margin: 0 0 1.2rem 0;
  text-align: end;
  font-weight: 300;
  animation: bounceAndKeepRotated 2s infinite;
  animation-delay: 0.5s;
  transform: rotate(90deg);
  color: white;
}

@keyframes bounceAndKeepRotated {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  50% {
    transform: translateY(0.7rem) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

.scroll-down :nth-child(2) {
  animation: bounce 2s infinite;
  animation-delay: 0.5s;
}

.scroll-down :nth-child(3) {
  animation: bounce 2s infinite;
  animation-delay: 0.75s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.7rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
  .hero-img {
    width: 45rem;
    height: 45rem;
    top: 5rem;
  }

  .hero-img2 {
    right: 19rem;
  }
}

@media screen and (max-width: 600px) {
  .hero-img {
    width: 45rem;
    height: 45rem;
    top: 10rem;
  }

  .hero-img2 {
    display: none;
  }

  .scroll-down {
    left: 50%;
    bottom: 10%;
  }
  .scroll-down :nth-child(1) {
    display: none;
  }
  .scroll-down :nth-child(3) {
    display: none;
  }
}
