.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12rem 0;
  background-color: rgb(22, 22, 22);
}

.about-title {
  display: flex;
  align-items: center;
  width: 22rem;
}

.about-container {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 8vw, 6rem);
  width: 70%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  width: 40%;
}

.about-content h1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.about-content p {
  width: 100%;
  margin: 0.5rem;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  color: var(--shade-3);
}

.earth-container {
  align-content: center;
  margin: 3rem 0 auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--shade-10);
  overflow: hidden;
  overflow: visible;
}

.earth {
  width: 20rem;
  height: 20rem;
  min-width: 20rem;
  min-height: 20rem;
  background: url(../../assets/images/earth.webp);
  background-size: cover;
  animation: animateEarth 12s linear infinite;
  border-radius: 50%;
  box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.5);
  text-align: center;
  transition: 0.2s all;
}

.earth:hover {
  scale: 1.1;
}

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 36rem 0;
  }
}

@media screen and (max-width: 1200px) {
  .about-content {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-title {
    width: 100%;
    justify-content: center;
  }
  .type-animation {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .earth {
    width: 12rem;
    height: 12rem;
    min-width: 12rem;
    min-height: 12rem;
  }
}
