.fourofour {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.fourofour-content {
  height: 50%;
  border-radius: 2rem;
  display: flex;
  align-items: top;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  margin: auto;
  gap: clamp(1rem, 8vw, 2rem);
  flex-wrap: wrap;
  padding: 3.5rem 2rem 1rem 2rem;
  background-color: var(--shade-9);
  border: 2px solid var(--shade-8);
  margin-top: 7rem;
}
