.navbar {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3.5rem;
  width: 100%;
  background-color: var(--shade-9);
  box-shadow: 0 0 5px var(--shade-6);
  z-index: 100;
}

.left-side-buttons {
  display: flex;
  align-items: center;
  margin-left: 10rem;
}

.right-side-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 10rem;
}

@media screen and (max-width: 800px) {
  .left-side-buttons {
    margin-left: 1rem;
  }

  .right-side-buttons {
    margin-right: 1rem;
  }

  .square-button {
    font-size: 0.8rem;
  }
}
