.navbar {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3.5rem;
  width: 100%;
  background-color: var(--shade-9);
  box-shadow: 0 0 5px var(--shade-6);
}

.left-side-buttons {
  display: flex;
  align-items: center;
  margin-left: 10rem;
}

.right-side-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 10rem;
}

.square-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  padding: 1rem;
  color: var(--shade-2);
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--shade-7);
  border-radius: 5px;
  transition: border 0.3s ease;
  height: 60%;
  transition: all 0.15s;
  font-weight: 500;
  opacity: 0.8;
  background-color: var(--shade-8);
}

.square-button:hover {
  border: 2px solid var(--shade-4);
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .left-side-buttons {
    margin-left: 1rem;
  }

  .right-side-buttons {
    margin-right: 1rem;
  }

  .square-button {
    font-size: 0.8rem;
  }
}
