.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  font-weight: 800;
  color: var(--shade-2);
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  gap: 1rem;
}

.footer-content a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 25px;
  height: 25px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  margin: 0;
  color: white;
  opacity: 0.8;
  transform: perspective(1000px) translateZ(0px);
}

.link:hover {
  border: none;
  transform: perspective(1000px) translateZ(75px);
  opacity: 1;
}

.scroll-top {
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 10;
  transition: 0.5s ease;
}

.scroll-top-icon {
  animation: bounce 2s infinite;
  transform: rotate(180deg);
}

@keyframes bounce {
  0% {
    transform: translateY(-0.1rem) rotate(180deg);
  }
  50% {
    transform: translateY(0.1rem) rotate(180deg);
  }
  100% {
    transform: translateY(-0.1rem) rotate(180deg);
  }
}
