.work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.work-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 80%;
  flex-wrap: wrap;
  margin: 2rem auto;
}

.work p {
  font-size: clamp(1rem, 1.2vw, 1.5rem);
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .work-title {
    width: 100%;
    justify-content: center;
  }
  .type-animation {
    display: none;
  }
  .work-container {
    width: 95%;
  }
}
